/* app/globals.css */
@import "tailwindcss";

/* Activation de la variante dark via la classe .dark sur <html> */
@variant dark (&:where(.dark, .dark *));

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee { animation: marquee 30s linear infinite; }
/* Mettre en pause l'animation au survol du composant */
.group:hover .animate-marquee { animation-play-state: paused; }